/*
  Custom styles for Trackster App
*/
/*
	Boostrap has default margin which was distorting 
	the alignemtn when i was vertically aligning, so I reset
	the margin of the h1 element.
 */
h1{
	margin: 0;
}
.row{
	margin: 0;
}

ul{
	margin-bottom: 0;
}

body{
	font-size: 16px;
}

.flex{
	display: flex;
	align-items: center;
}

/*
	Header Styles
 */
header{
	background-color: rgb(35,2,63);
	padding: 35px 0;
}

header .header-logo{
	font-family: Righteous;
	font-size: 2.5rem;
	color: rgb(255,0,171);
}

/*
	Input Form Styles in the Header
 */
header .music-search {
	border-radius: 25px ;
}

/*
	Button Styles
	I used Bootstrap deafault button and overwrote some of the default\
	styles.
 */
header .btn{
	background-color: rgb(255,0,171);
	color: rgb(35,2,63);
	border-radius: 23px;
}

header .btn-lg{
	padding: 10px 25px;
}

.button-hover{
	cursor: pointer;
}
/*
	Styles for the song column row
 */
#song-columns{
	background-color: rgb(104, 0, 255);
}

#song-columns h5{
	color: rgb(255,255,255);
}

#song-columns #numberSymbol{
	margin-right: 1rem;
}

/*Song List*/
.song-row{
	font-family: "Work Sans";
	font-size: 1.5rem;
	color: rgb(74,74,74);
}

.song-row img{
	max-width: 100%;
	height: auto;
}
.song-row ul{
	border-bottom: 1px solid black;
	padding: 10px 0;
	display: flex;
	align-items: center;
}

.song-row ul:hover{
	 background-color: #EEF1EF;
	 font-weight: bold;
}
/*.hover{
	background-color: lightgrey;
}*/
#song-list ul li{
	padding-left: 1.5rem;
}

#song-list li:last-child{
	padding-left: 2.25rem;
}

#song-list i{
	color: rgb(255,0,171);
}